@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Baloo2";
  src: local("Baloo2"), url(./fonts/Baloo2-Regular.ttf) format("opentype");
}

@font-face {
  font-family: "Josefin";
  src: url(./fonts/JosefinSlab-VariableFont_wght.ttf);
}
